* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
}

article {
  width: 100%;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.arcticle {
  display: grid;
  grid-template-rows: 250px 50px 90px;
  background-color: white;
  border-radius: 12px;
  width: 250px;
  align-items: center;
  justify-content: center;
}

.img {
  position: relative;
}

.img-qr {
  width: 225px;
  height: 225px;
  border-radius: 6px;
  margin: 12px;
}

.info-1 {
  position: relative;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 26px;
}

.info-2 {
  position: relative;
  font-size: 13px;
  text-align: center;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  margin: 26px;
}

footer {
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: red;
}

a:hover {
  color: green;
}
